<aside class="w-full h-screen flex flex-col bg-primaryApp">
  <div
    class="w-full h-1/6 border-b border-white/50 flex justify-center items-center"
  >
    <h1 class="text-xl font-bold uppercase text-lightApp">movie app</h1>
  </div>
  <div class="w-full h-4/6 p-6">
    <ul>
      <li class="mb-4">
        <h2
          class="text-sm font-bold text-lightApp cursor-pointer"
          [routerLink]="['favorites']"
        >
          Favorite
        </h2>
      </li>
      <li>
        <div>
          <h2 class="text-sm font-bold text-lightApp/80 cursor-default">
            Discover
          </h2>
          <ul class="flex flex-col gap-3 px-4 my-4">
            <li
              class="text-xs text-lightApp cursor-pointer"
              [routerLink]="['movies']"
            >
              Popular
            </li>
            <li class="text-xs text-lightApp cursor-pointer">Top Rated</li>
            <li class="text-xs text-lightApp cursor-pointer">Upcoming</li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <h2 class="text-sm font-bold text-lightApp/80 cursor-default">
            Genre
          </h2>
          <ul class="flex flex-col gap-3 px-4 my-4">
            <li class="text-xs text-lightApp cursor-pointer">Action</li>
            <li class="text-xs text-lightApp cursor-pointer">Comedy</li>
            <li class="text-xs text-lightApp cursor-pointer">Horror</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="w-full h-1/6 border-t border-white/50 p-4 flex flex-col justify-center items-center"
  >
    <h2 class="text-xs text-lightApp mb-2">Support by :</h2>
    <div class="flex flex-row gap-4">
      <img
        src="assets/simplidots-logo.png"
        alt="SimpliDots Logo"
        class="w-[70px]"
      />
      <img src="assets/tmdb-logo.svg" alt="TMDB Logo" class="w-[70px]" />
    </div>
  </div>
</aside>
