<aside class="w-full h-screen flex flex-col bg-primaryApp">
  <!-- logo -->
  <div
    class="w-full h-1/6 border-b border-white/50 flex justify-center items-center"
  >
    <h1 class="text-xl font-bold uppercase text-lightApp">movie app</h1>
  </div>

  <!-- menu -->
  <div class="w-full h-4/6 p-6">
    <ul class="flex flex-col gap-3 my-4">
      <li [routerLink]="['/favorites']" class="cursor-pointer">
        <h2
          class="text-sm 2xl:text-lg font-semibold text-lightApp hover:text-primaryApp py-1 px-4 hover:bg-lightApp rounded transition duration-200 ease-in-out"
        >
          🔥 My Favorites
        </h2>
      </li>
      <li [routerLink]="['/movies']" class="cursor-pointer">
        <h2
          class="text-sm 2xl:text-lg font-semibold text-lightApp hover:text-primaryApp py-1 px-4 hover:bg-lightApp rounded transition duration-200 ease-in-out"
        >
          🍿 Movies
        </h2>
      </li>
    </ul>
  </div>

  <!-- support -->
  <div
    class="w-full h-1/6 border-t border-white/50 p-4 flex flex-col justify-center items-center"
  >
    <h2 class="text-xs text-lightApp mb-2">Support by :</h2>
    <div class="flex flex-row gap-4">
      <img
        src="assets/simplidots-logo.png"
        alt="SimpliDots Logo"
        class="w-[70px]"
      />
      <img src="assets/tmdb-logo.svg" alt="TMDB Logo" class="w-[70px]" />
    </div>
  </div>
</aside>
