<div class="hover:scale-105 transition duration-300 ease-in-out">
  <img
    src="https://image.tmdb.org/t/p/original/{{ movie?.poster_path }}"
    alt="..."
    class="rounded-lg shadow"
    [routerLink]="['/movie', movie?.id]"
  />
  <div class="py-2 px-4 flex flex-row justify-between items-center">
    <div>
      <h3 class="text-sm font-bold text-primaryApp/90">
        {{ movie?.original_title }}
      </h3>
      <p class="text-xs text-darkApp/50">{{ movie?.vote_average }}</p>
      <p class="text-xs text-darkApp/50">{{ movie?.release_date }}</p>
    </div>
    <!-- <button
      class="p-1 bg-primaryApp rounded text-sm"
      (click)="addFavourite(movie?.id)"
      *ngIf="isFavourite"
    >
      <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
    </button>
    <button
      class="p-1 border border-primaryApp/70 rounded text-sm"
      (click)="removeFavourite(movie?.id)"
      *ngIf="!isFavourite"
    >
      <fa-icon [icon]="faStar" class="text-primaryApp/70"></fa-icon>
    </button> -->
  </div>
</div>
